@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

header {
  background-image: url(./img/bg_jumbo.png);
  width: 100%;
 }

nav a {
    font-size: 18px;
    text-decoration: none;
    color: white;
  }

 nav a:hover {
    font-weight: bold;
 }

 .jumbotron {
    padding: 100px;;
    text-align: center;
    font-size: 20px;
    color: white;
  }

  nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
  }

  nav {
    margin-right: 20px;
    padding: 10px;
    position: sticky;
    top: 0;
    float: right;
  }